figcaption {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

figcaption p {
	font-size: 75%;
}

/* Center figures*/
figure {
	text-align: center;
}

/* Wrap code so we dont have
horizontal scroll bars and hidden code*/
@media print {
    pre code {
        white-space: pre-wrap;
    }
}